body {
	font: 18px/1.4 Palatino, Calisto MT, Georgia, serif;
	color: #111;
	max-width: 600px;
	margin: 15px auto 100px;
	overflow-y: scroll;
}

#header h1 {
	font-size: 3em;
	line-height: 1.2;
	margin: 0;
}

#header #progress {
	font-size: 15px;
	color: #444;
}

#header h1 a {
	color: #111;
	text-decoration: none;
}

#header ul {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	padding-left: 5px;
	background: #555;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	border-radius: 3px;
}

#header ul li {
	display: inline-block;
	padding: 3px 0px;
}

#header ul li a {
	color: #eee;
	text-decoration: none;
	padding: 3px 10px;
}

#header ul li a:hover {
	background: #666;
}

h2 {
	color: #222;
}

h3 {
	color: #666;
}

sup a {
	text-decoration: none;
}

code {
	font-size: 16px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; /* StackOverflow */
	white-space: pre;
	border: 1px solid grey;
	display: inline-block;
	border-radius: 2px;
	padding: 0 2px;
}

.beware {
	background: #fee;
	border: 1px solid #fcc;
	padding: .1em .2em;
}

ol :target {
	background: #ffb;
}

ol li {
	font-size: 16px;
}

.noteBack {
	font-size: 18px;
}



#click-test {
	width: 100%;
	text-align: center;
	border: solid black;
	border-width: 1px 0 0 1px;
	border-collapse: collapse;
}

#click-test td, #click-test th {
	border: solid black;
	border-width: 0px 1px 1px 0px;
	width: 40%; /* Fix their sizes */
}

#click-test #link2 {
	display: inline-block;
	border: 1px solid #357ebd;
	padding: 8px 16px;
	margin: 18px;
	font-size: 1.5em;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	background: #428bca;
	font-family: Helvetica Neue, sans-serif;
}

#click-test .results p {
	text-align: left;
	margin-left: 10px;
}

#click-test .times {
	font-size: 14px;
	color: #222;
}